/*
* Chocolate
*/
/* Body Styles */
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, "Montserrat", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: #1c1414;
  height: 100%;
  width: 100%; }

hr {
  border: none;
  height: 3px;
  color: #F4F4EC;
  background-color: #F4F4EC; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #f4b603; }

::selection {
  color: #fff;
  background: #f4b603; }

/* Body Styles */
/* Helper Classes */
.centerHor {
  display: block;
  margin: 0 auto; }

.upperCase {
  text-transform: uppercase; }

.moveDown {
  bottom: 0; }

.banner {
  margin-top: 3%;
  margin-left: -1%;
  margin-right: -1%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 3px solid #F4F4EC;
  border-bottom: 0.99px solid #F4F4EC;
  height: 120px;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.01); }

.success {
  color: #2ECC71; }

.warning {
  color: #F39C12; }

.alert {
  color: #f4b603; }

.center {
  text-align: center;
  align-content: center; }

/* Helper Classes */
/* Grid */
.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.colCheck {
  height: 17px;
  width: 100%;
  background-color: #373636;
  border-radius: 2px;
  -moz-border-radius: 7px;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }

.colCheck:hover {
  background-color: #f4b603; }

.row {
  display: block;
  width: 100%;
  height: 100%;
  clear: both;
  padding-top: 2%; }

.col {
  display: block;
  width: 100%;
  float: left;
  padding: 0px 5px;
  box-sizing: border-box; }

@media (min-width: 320px) {
  .container {
    width: 90%;
    padding: 0; }

  .col {
    margin-bottom: 1%; } }
@media (min-width: 600px) {
  .container {
    width: 90%; }

  .col {
    margin-bottom: 0; }

  .alt {
    border-top: 3px solid white;
    padding-top: 10px; }

  .one.col {
    width: 8.33333%; }

  .two.col {
    width: 16.66667%; }

  .three.col {
    width: 25%; }

  .four.col {
    width: 33.33333%; }

  .five.col {
    width: 41.66667%; }

  .six.col,
  .half.col {
    width: 50%; }

  .seven.col {
    width: 58.33333%; }

  .eight.col {
    width: 66.66667%; }

  .nine.col {
    width: 75%; }

  .ten.col {
    width: 83.33333%; }

  .eleven.col {
    width: 91.66667%; }

  .twelve.col, .fullWidth.col {
    width: 100%;
    margin-left: 0; }

  .oneThird.col {
    width: 33.33333%; }

  .twoThirds.col {
    width: 66.66667%; }

  .offsetQuarter.col {
    margin-left: 25%; }

  .offsetOne.col {
    margin-left: 8.33333%; }

  .offsetTwo.col {
    margin-left: 16.66667%; }

  .offsetFour.col {
    margin-left: 33.32%; }

  .offsetTwoThird.col {
    margin-left: 60.0%; }

  .offsetHalf.col {
    margin-left: 45%; }

  .col:first-child {
    margin-left: 0;
    float: left; } }
/* Grid */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.big {
  display: block;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  letter-spacing: -.06rem; }

h1 {
  font-size: 1.3em;
  line-height: 1.33333; }

h1:before {
  content: "";
  position: absolute;
  width: 1em;
  margin-top: -3px;
  border-bottom: 3px solid #F4F4EC; }

h2 {
  font-size: 1.3em;
  line-height: 1.33333; }

h3 {
  font-size: 0.89375em;
  line-height: 1.2; }

h4 {
  font-size: 0.8125em;
  line-height: 1.13333; }

h5 {
  font-size: 0.73125em;
  line-height: 1.06667; }

h6 {
  font-size: 0.40625em;
  line-height: 1.0; }

.big {
  font-size: 1.625em;
  line-height: 1.4; }

.topHeading {
  display: block;
  margin-top: -3%;
  margin-bottom: -2%; }

blockquote {
  font-size: 0.8125em;
  line-height: 1.0;
  font-family: 'Lora', serif;
  margin-left: 5%;
  padding-left: 15px;
  border-left: 3px solid #f4b603;
  font-weight: 700; }

@media (min-width: 600px) {
  h1 {
    font-size: 1.95em; }

  h1:before {
    content: "";
    position: absolute;
    width: 1em;
    margin-top: -3px;
    border-bottom: 3px solid #F4F4EC; }

  h2 {
    font-size: 1.95em; }

  h3 {
    font-size: 1.1375em; }

  h4 {
    font-size: 1.01563em; }

  h5 {
    font-size: 0.73125em; }

  h6 {
    font-size: 0.65em; }

  blockquote {
    font-size: 0.975em; }

  .big {
    font-size: 2.35625em; } }
p {
  margin-top: 0;
  font-size: 0.56875em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  padding-right: 3%; }

small {
  font-size: 60%;
  color: #888;
  text-transform: uppercase;
  margin-left: 0px; }

cite {
  color: #888;
  font-size: 60%;
  font-style: italic; }

code {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  background-color: #373636;
  border-radius: 3px;
  border: 1px solid #4f4e4e;
  -moz-border-radius: 3px;
  font-weight: 700;
  padding: 1px 3px; }

pre {
  background-color: #373636;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 10px;
  font-size: 0.65em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

pre code {
  border: none; }

/* Typography */
/* Link */
a {
  color: #f4b603;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #1c1414;
  background: #fff; }

a:active {
  top: 1px; }

/* Link */
/* Buttons */
.btn, button, .secondaryBtn, .secondaryBtnAlt, .successBtn, .infoBtn, .warningBtn, .dangerBtn {
  display: inline-block;
  height: 30px;
  width: auto;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  cursor: pointer;
  margin-bottom: 2%;
  box-sizing: border-box;
  font-size: 0.56875em;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }

.btn, button:focus {
  outline: 0; }

.btn, button:focus {
  opacity: 0.6; }

.btnBlock {
  width: 100%; }

.btn, button {
  color: #F4F4EC;
  border: 1px solid #F4F4EC; }

.secondaryBtn {
  color: #f4b603;
  border: 1px solid #f4b603; }

.successBtn {
  color: #2ECC71;
  border: 1px solid #2ECC71; }

.infoBtn {
  color: #3498DB;
  border: 1px solid #3498DB; }

.warningBtn {
  color: #F39C12;
  border: 1px solid #F39C12; }

.dangerBtn {
  color: #F62459;
  border: 1px solid #F62459; }

.button:hover, button:hover, .button:focus, button:focus {
  color: #1c1414;
  border-color: #F4F4EC;
  background-color: #F4F4EC; }

.secondaryBtn:hover {
  color: #1c1414;
  border-color: #f4b603;
  background-color: #f4b603; }

.successBtn:hover, .successBtn:focus {
  color: #1c1414;
  border-color: #2ECC71;
  background-color: #2ECC71; }

.infoBtn:hover, .infoBtn:focus {
  color: #1c1414;
  border-color: #3498DB;
  background-color: #3498DB; }

.warningBtn:hover, .warningBtn:focus {
  color: #1c1414;
  border-color: #F39C12;
  background-color: #F39C12; }

.dangerBtn:hover, .dangerBtn:focus {
  color: #1c1414;
  border-color: #F62459;
  background-color: #F62459; }

.primaryBtnAlt {
  color: #1c1414;
  background-color: #F4F4EC;
  border: 1px solid #F4F4EC; }

.secondaryBtnAlt {
  color: #1c1414;
  background-color: #f4b603;
  border: 1px solid #f4b603; }

.successBtnAlt {
  color: #1c1414;
  background-color: #2ECC71;
  border-color: #2ECC71; }

.infoBtnAlt {
  color: #1c1414;
  background-color: #3498DB;
  border-color: #3498DB; }

.warningBtnAlt {
  color: #1c1414;
  background-color: #F39C12;
  border-color: #F39C12; }

.dangerBtnAlt {
  color: #1c1414;
  background-color: #F62459;
  border-color: #F62459; }

.primaryBtnAlt:hover, .primaryBtnAlt:focus {
  color: #F4F4EC;
  background-color: #1c1414;
  border: 1px solid #F4F4EC; }

.secondaryBtnAlt:hover, .secondaryBtnAlt:focus {
  color: #f4b603;
  background-color: #1c1414;
  border: 1px solid #f4b603; }

.successBtnAlt:hover, .successBtnAlt:focus {
  color: #2ECC71;
  background-color: #1c1414;
  border-color: #2ECC71; }

.infoBtnAlt:hover, .infoBtnAlt:focus {
  color: #3498DB;
  border-color: #3498DB;
  background-color: #1c1414; }

.warningBtnAlt:hover, .warningBtnAlt:focus {
  color: #F39C12;
  border-color: #F39C12;
  background-color: #1c1414; }

.dangerBtnAlt:hover, .dangerBtnAlt:focus {
  color: #F62459;
  border-color: #F62459;
  background-color: #1c1414; }

.btnLarge {
  line-height: 51px;
  height: 51px;
  font-size: 0.73125em; }

.btnSmall {
  line-height: 27px;
  height: 27px;
  font-size: 0.56875em; }

/* Buttons */
/* Images */
img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  float: left;
  margin-right: 2%;
  -webkit-transition: -webkit-filter 1s;
  -moz-transition: -webkit-filter 1s;
  -ms-transition: -webkit-filter 1s;
  -o-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s; }

img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%); }

/* Image Sizes */
.fullImg {
  max-width: 100%; }

.halfImg {
  max-width: 50%; }

.quarterImg {
  max-width: 20%; }

/* Image Styles */
.round {
  border-radius: 50%;
  overflow: hidden;
  width: 100%; }

.round img {
  display: block;
  min-width: 100%;
  min-height: 100%; }

.border {
  margin-top: 3px;
  height: 100%;
  width: 100%;
  border: 3px solid #F4F4EC;
  box-sizing: border-box; }

/* Filters */
.greyscale {
  -webkit-filter: grayscale(100%); }

.disco {
  -webkit-animation: adjustHue 1s alternate infinite; }

@-webkit-keyframes adjustHue {
  0% {
    -webkit-filter: hue-rotate(30deg); }
  50% {
    -webkit-filter: hue-rotate(60deg); }
  100% {
    -webkit-filter: hue-rotate(90deg); } }
/* Images */
/* Tables */
table {
  width: 100%;
  border-collapse: collapse; }

tr:nth-of-type(odd) {
  background-color: #373636; }

th {
  background-color: #f4b603;
  font-size: 0.56875em;
  font-weight: 700;
  text-align: left;
  padding: 6px;
  color: #1c1414; }

td {
  background-color: #1c1414;
  font-size: 0.56875em;
  font-weight: 400;
  padding: 6px;
  border-bottom: 1px solid #fff;
  text-align: left; }

/* Tables */
/* Lists */
ul, ol {
  font-size: 0.56875em;
  font-weight: 700; }

ul.circle {
  list-style-type: circle; }

ol.numerical {
  list-style-type: lower-alpha; }

/* Lists */
/* Icons */
.circleIcon {
  display: inline-block;
  font-size: 0.73125em;
  font-weight: 700;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  margin: 3% 0;
  background-color: #fff;
  color: #1c1414;
  text-align: center; }

.circleIcon.success {
  background-color: #2ECC71;
  color: #fff; }

.circleIcon.danger {
  background-color: #F62459;
  color: #fff; }

.circleIcon.info {
  background-color: #3498DB;
  color: #fff; }

.circleIcon.warning {
  background-color: #F39C12;
  color: #fff; }

.circleIconAlt {
  display: inline-block;
  font-size: 0.73125em;
  font-weight: 700;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px;
  margin: 3% 0;
  background-color: #1c1414;
  text-align: center;
  color: #F4F4EC;
  box-shadow: 0px 0px 0px 2px #fff inset; }

.circleIconAlt.warning {
  box-shadow: 0px 0px 0px 2px #F39C12 inset; }

.circleIconAlt.success {
  box-shadow: 0px 0px 0px 2px #2ECC71 inset; }

.circleIconAlt.danger {
  box-shadow: 0px 0px 0px 2px #F62459 inset; }

.circleIconAlt.info {
  box-shadow: 0px 0px 0px 2px #3498DB inset; }

/* Icons */

/*# sourceMappingURL=chocolate.css.map */
