/*
* Chocolate
*/
/* Body Styles */
@import url(http://fonts.googleapis.com/css?family=Lora);
html {
  width: 100%;
  height: 100%; }

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
  color: #F4F4EC;
  background-color: #191919; }

hr {
  border: none;
  height: 1px;
  color: #F4F4EC;
  background-color: #F4F4EC; }

/* Body Styles */
/* Helper Classes */
.centerHor {
  display: block;
  margin: 0 auto; }

.upperCase {
  text-transform: uppercase; }

.header {
  margin-top: 5%;
  padding-top: 1%;
  border-top: 3px solid #F4F4EC;
  margin-bottom: 10%; }

.success {
  color: #00e19d; }

.warning {
  color: #ff001b; }

.alert {
  color: #f4b603; }

.center {
  text-align: center;
  align-content: center; }

/* Helper Classes */
/* Grid */
.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

@media (min-width: 320px) {
  .container {
    width: 90%;
    padding: 0; } }
.row {
  display: block;
  width: 100%;
  height: 20px;
  clear: both;
  padding-top: 2%; }

.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 600px) {
  .container {
    width: 90%; }

  .col {
    margin-left: 4%; }

  .col:first-child {
    margin-left: 0; }

  .one.col {
    width: 4.66666666667%; }

  .two.col {
    width: 13.3333333333%; }

  .three.col {
    width: 22%; }

  .four.col {
    width: 30.6666666667%; }

  .five.col {
    width: 39.3333333333%; }

  .six.col, .half.col {
    width: 48%; }

  .seven.col {
    width: 56.6666666667%; }

  .eight.col {
    width: 65.3333333333%; }

  .nine.col {
    width: 74.0%; }

  .ten.col {
    width: 82.6666666667%; }

  .eleven.col {
    width: 91.3333333333%; }

  .twelve.col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2%; }

  .oneThird.col {
    width: 30.6666666667%; }

  .twoThirds.col {
    width: 65.3333333333%; }

  .offsetOneThird.col {
    margin-left: 34.6666666667%; }

  .offsetTwoThird.col {
    margin-left: 69.3333333333%; }

  .offset-half.col {
    margin-left: 52%; } }
/* Grid */
/* Typography */
h1, h2, h3, h4, h5, h6, .big {
  display: block;
  margin-top: 0%;
  margin-bottom: 1.3rem;
  font-weight: 700;
  letter-spacing: -.06rem; }

h1 {
  font-size: 32px;
  font-size: 1.3em;
  line-height: 1.33333; }

h2 {
  font-size: 26px;
  font-size: 1.05625em;
  line-height: 1.26667; }

h3 {
  font-size: 22px;
  font-size: 0.89375em;
  line-height: 1.2; }

h3:before {
  content: "";
  position: absolute;
  width: 1em;
  margin-top: -3px;
  border-bottom: 3px solid #F4F4EC; }

h4 {
  font-size: 18px;
  font-size: 0.73125em;
  line-height: 1.13333; }

h5 {
  font-size: 0.9px;
  font-size: 0.03656em;
  line-height: 1.06667; }

h6 {
  font-size: 0.7px;
  font-size: 0.02844em;
  line-height: 1.0; }

blockquote {
  font-size: 20px;
  font-size: 0.8125em;
  line-height: 1.0;
  font-family: 'Lora', serif;
  margin-left: 5%;
  padding-left: 15px;
  border-left: 3px solid #f4b603;
  font-weight: 700; }

.big {
  font-size: 40px;
  font-size: 1.625em;
  line-height: 1.4; }

@media (min-width: 600px) {
  h1 {
    font-size: 48px;
    font-size: 1.95em; }

  h2 {
    font-size: 36px;
    font-size: 1.4625em; }

  h3 {
    font-size: 28px;
    font-size: 1.1375em; }

  h3:before {
    content: "";
    position: absolute;
    width: 1em;
    margin-top: -3px;
    border-bottom: 3px solid #F4F4EC; }

  h4 {
    font-size: 18px;
    font-size: 0.73125em; }

  h5 {
    font-size: 16px;
    font-size: 0.65em; }

  h6 {
    font-size: 14px;
    font-size: 0.56875em; }

  blockquote {
    font-size: 24px;
    font-size: 0.975em; }

  .big {
    font-size: 58px;
    font-size: 2.35625em; } }
p {
  margin-top: 0;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

small {
  font-size: 60%;
  color: #999;
  text-transform: uppercase;
  margin-left: 0px; }

cite {
  color: #999;
  font-size: 60%;
  font-style: italic; }

/* Typography */
/* Link */
a {
  color: #f4b603;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #191919;
  background: #F4F4EC; }

/* Link */
/* Buttons */
.button, button, .altBtn, .successBtn, .infoBtn, .warningBtn, .dangerBtn {
  display: inline-block;
  height: 33px;
  width: auto;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 2%;
  box-sizing: border-box;
  outline: 0;
  font-size: 11px;
  font-size: 0.44688em;
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -ms-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease; }

.button, button {
  color: #F4F4EC;
  border: 1px solid #F4F4EC; }

.altBtn {
  color: #f4b603;
  border: 1px solid #f4b603; }

.successBtn {
  color: #00e19d;
  border: 1px solid #00e19d; }

.infoBtn {
  color: #a25aff;
  border: 1px solid #a25aff; }

.warningBtn {
  color: #ff001b;
  border: 1px solid #ff001b; }

.dangerBtn {
  color: #ff855a;
  border: 1px solid #ff855a; }

.button:hover, button:hover, .button:focus, button:focus {
  color: #191919;
  border-color: #f4b603;
  background-color: #f4b603; }

.button-alt:hover, button-alt:hover {
  color: #191919;
  border-color: #F4F4EC;
  background-color: #F4F4EC; }

.successBtn:hover, .successBtn:focus {
  color: #191919;
  border-color: #00e19d;
  background-color: #00e19d; }

.infoBtn:hover, .infoBtn:focus {
  color: #191919;
  border-color: #a25aff;
  background-color: #a25aff; }

.warningBtn:hover, .warningBtn:focus {
  color: #191919;
  border-color: #ff001b;
  background-color: #ff001b; }

.dangerBtn:hover, .dangerBtn:focus {
  color: #191919;
  border-color: #ff855a;
  background-color: #ff855a; }

.successBtnAlt {
  color: #191919;
  background-color: #00e19d;
  border-color: #00e19d; }

input[type="warning"].button-primary {
  color: #F4F4EC;
  background-color: #f4b603;
  border-color: blue; }

input[type="button"].button-primary {
  color: #F4F4EC;
  background-color: #f4b603;
  border-color: blue; }

.successBtnAlt:hover, .successBtnAlt:focus {
  color: #00e19d;
  background-color: #191919;
  border-color: #00e19d; }

/* Buttons */

/*# sourceMappingURL=style.css.map */
