/* Body Styles */
html{
	width: 100%;
    height: 100%;
}
body{ 
	@include swissFont;
	font-size: 1.5em;
	font-weight: 400;
	@include lineHeight(0);	
	color: $lightFont;
	background-color:$bgColor;
}
hr{
	border:none;
	height:($lineWidth - 2px);
	color:$primaryColor;
	background-color:$primaryColor;
}

/* Body Styles */