/* Buttons */

.btn, button, .altBtn, .successBtn, .infoBtn, .warningBtn, .dangerBtn {
    display: inline-block;
    height: $buttonSize;
    width: auto;
    padding: $buttonPadding;
    text-align: center;
    font-weight: 600;
    line-height: $buttonSize;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: transparent;
    border-radius: $buttonRadius;
    -moz-border-radius: 0px 0px $buttonRadius $buttonRadius;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: $buttonRadius;
    -webkit-border-bottom-right-radius: $buttonRadius;
    cursor: pointer;
    margin-bottom: 2%;
    box-sizing: border-box;
    outline: 0;
    @include fontSize(14px);
    @include transition(color $animationSpeed ease);
    @include transition(background-color $animationSpeed ease);
}

.btnBlock{
    width:100%;
}

.btn, button {
    color: $primaryColor;
    border: $buttonLineWidth solid $primaryColor;
}

.altBtn {
    color: $secondaryColor;
    border: $buttonLineWidth solid $secondaryColor;
}

.successBtn {
    color: $successColor;
    border: $buttonLineWidth solid $successColor;
}

.infoBtn {
    color: $infoColor;
    border: $buttonLineWidth solid $infoColor;
}

.warningBtn {
    color: $warningColor;
    border: $buttonLineWidth solid $warningColor;
}

.dangerBtn {
    color: $dangerColor;
    border: $buttonLineWidth solid $dangerColor;
}

.button:hover, button:hover, .button:focus, button:focus {
    color: $bgColor;
    border-color: $primaryColor;
    background-color: $primaryColor;
}

.altBtn:hover {
    color: $bgColor;
    border-color: $secondaryColor;
    background-color: $secondaryColor;
}

.successBtn:hover, .successBtn:focus {
    color: $bgColor;
    border-color: $successColor;
    background-color: $successColor;
}

.infoBtn:hover, .infoBtn:focus {
    color: $bgColor;
    border-color: $infoColor;
    background-color: $infoColor;
}

.warningBtn:hover, .warningBtn:focus {
    color: $bgColor;
    border-color: $warningColor;
    background-color: $warningColor;
}

.dangerBtn:hover, .dangerBtn:focus {
    color: $bgColor;
    border-color: $dangerColor;
    background-color: $dangerColor;
}

.successBtnAlt {
    color: $bgColor;
    background-color: $successColor;
    border-color: $successColor;
}
.infoBtnAlt {
    color: $bgColor;
    background-color: $infoColor;
    border-color: $infoColor;
}

.warningBtnAlt {
    color: $bgColor;
    background-color: $warningColor;
    border-color: $warningColor;
}

.dangerBtnAlt {
    color: $bgColor;
    background-color: $dangerColor;
    border-color: $dangerColor;
}

.successBtnAlt:hover, .successBtnAlt:focus {
    color: $successColor;
    background-color: $bgColor;
    border-color: $successColor;
}

.infoBtnAlt:hover, .infoBtnAlt:focus {
    color: $infoColor;
    border-color: $infoColor;
    background-color: $bgColor;
}

.warningBtnAlt:hover, .warningBtnAlt:focus {
    color: $warningColor;
    border-color: $warningColor;
    background-color: $bgColor;
}

.dangerBtnAlt:hover, .dangerBtnAlt:focus {
    color: $dangerColor;
    border-color: $dangerColor;
    background-color: $bgColor;
}

.btnLarge{
    line-height: $buttonSize * 1.5;
    height: $buttonSize * 1.5;
    @include fontSize(16px);
}
.btnSmall{
    line-height: $buttonSize * 0.90;
    height: $buttonSize * 0.90;
    @include fontSize(14px);
}
/* Buttons */