/* Grid  */

$max-width: 960px;
$screen-width: 100%;
$one-column: 100/21.428571429*1%;
$two-columns: 100/7.5*1%;
$three-columns: 100/4.5454545455*1%;

$small-device: 400px;
$medium-device: 550px;

.container {
    position: relative;
    width: $screen-width;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column, columns {
    width: $screen-width;
    float: left;
    box-sizing: border-box;
}

/* Larger than small devices */
@media (min-width: $small-device) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* Larger than medium devices */
@media (min-width:$medium-device){
	.container{
		width:80%;
	}
	.column, columns {
		margin-left: 4%;
	}
	.column:first-child, .columns:first-child {
		margin-left: 0;
	}
	.one.column, .one.columns {
		width:$one-column;
	}
	.two.columns {
		width:$two-columns;
	}
	.three.columns{
		width:$three-columns;
	}
	.four.columns{
		width: $four-columns;
	}
	.five.columns{
		width: $four-columns;
	}
	.six.columns{
		width: $four-columns;
	}
	.seven.columns{
		width: $four-columns;
	}
	.eight.columns{
		width: $four-columns;
	}
	.nine.columns{
		width: $four-columns;
	}
	.ten.columns{
		width: $four-columns;
	}
	.four.columns{
		width: $four-columns;
	}
	.four.columns{
		width: $four-columns;
	}

}

