/* Grid  
----------------------------------------------*/

.container {
    position: relative;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.col {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
/* Larger than small devices */

@media (min-width: $small-device) {
    .container {
        width: 85%;
        padding: 0;
    }
}
/* Larger than medium devices */

@media (min-width: $medium-device) {
    .container {
        width: 80%;
    }
    .col {
        margin-left: 4%;
    }
    .col:first-child {
        margin-left: 0;
    }
    .one.col {
        width: 4.66666666667%;
    }
    .two.col {
        width: 13.3333333333%;
    }
    .three.col {
        width: 22%;
    }
    .four.col {
        width: 30.6666666667%;
    }
    .five.col {
        width: 39.3333333333%;
    }
    .six.col, .oneHalf.col {
        width: 48%;
    }
    .seven.col {
        width: 56.6666666667%;
    }
    .eight.col {
        width: 65.3333333333%;
    }
    .nine.col {
        width: 74.0%;
    }
    .ten.col {
        width: 82.6666666667%;
    }
    .eleven.col {
        width: 91.3333333333%;
    }
    .twelve.col {
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%;
    }
    .oneThird.col {
        width: 30.6666666667%;
    }
    .twoThirds.col {
        width: 65.3333333333%;
    }
    .offset-one.col {
        margin-left: 8.66666666667%;
    }
    .offset-two.col {
        margin-left: 17.3333333333%;
    }
    .offset-three.col {
        margin-left: 26%;
    }
    .offset-four.col {
        margin-left: 34.6666666667%;
    }
    .offset-five.col {
        margin-left: 43.3333333333%;
    }
    .offset-six.col {
        margin-left: 52%;
    }
    .offset-seven.col {
        margin-left: 60.6666666667%;
    }
    .offset-eight.col {
        margin-left: 69.3333333333%;
    }
    .offset-nine.col {
        margin-left: 78.0%;
    }
    .offset-ten.col {
        margin-left: 86.6666666667%;
    }
    .offset-eleven.col {
        margin-left: 95.3333333333%;
    }
    .offset-one-third.col {
        margin-left: 34.6666666667%;
    }
    .offset-two-thirds.col {
        margin-left: 69.3333333333%;
    }
    .offset-one-half.col {
        margin-left: 52%;
    }
}
/* / Grid  
----------------------------------------------*/
