@mixin fontSize($sizeValue) {
  font-size: (4.6 - $sizeValue * 0.6) + rem;
}
@mixin swissFont{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin lineHeight($val){
	line-height: (1.6 - 0.06666666667 * $val);
}

@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  -ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)”;
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}