@mixin fontSize($size) {
  font-size: $size;
  font-size:($size / 16px) * 0.65em;
}
@mixin swissFont{
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin lineHeight($val){
	line-height: (1.4 - 0.06666666667 * $val);
}

@mixin colWidth($val){
  margin-left: $val * 0.4;
  width: ((100/12)*$val) *0.9999999%;
}
@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

@mixin headerLine(){
		    content: "";
        position: absolute;
        width: 1em;
        margin-top: $lineWidth * -1;
        border-bottom: $lineWidth solid $primaryColor;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

@mixin bannerSize($val){
  margin-left:-$val;
  margin-right:-$val;
  padding-left:$val;
  padding-right:$val;
}