/* Typography */

@import url(http://fonts.googleapis.com/css?family=Lora);

h1, h2, h3, h4, h5, h6, .big {
    display: block;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: -.06rem;
}

h1 {
    @include fontSize(32px);
    @include lineHeight(1);
}

h2 {
    @include fontSize(26px);
    @include lineHeight(2);
}

h3 {
    @include fontSize(22px);
    @include lineHeight(3);
}

h3:before {
    @include headerLine;
}

h4 {
    @include fontSize(22px);
    @include lineHeight(4);
}

h5 {
    @include fontSize(18px);
    @include lineHeight(5);
}

h6 {
    @include fontSize(10px);
    @include lineHeight(6);
}

blockquote {
    @include fontSize(20px);
    @include lineHeight(6);
    font-family: 'Lora', serif;
    margin-left: 5%;
    padding-left: 15px;
    border-left: $lineWidth solid $secondaryColor;
    font-weight: 700;
}

.big {
    @include fontSize(40px);
    @include lineHeight(0);
}

@media (min-width: $medium-device) {
    h1 {
        @include fontSize(48px);
    }
    h2 {
        @include fontSize(36px);
    }
    h3 {
        @include fontSize(28px);
    }
    h3:before {
        @include headerLine;
    }
    h4 {
        @include fontSize(28px);
    }
    h5 {
        @include fontSize(18px);
    }
    h6 {
        @include fontSize(16px);
    }
    blockquote {
        @include fontSize(24px);
    }
    .big {
        @include fontSize(58px);
    }
}

p {
    margin-top: 0;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

small {
    font-size: 60%;
    color: $darkFont;
    text-transform: uppercase;
    margin-left: 0px;
}

.topHeading{
    display:block;
    margin-top:-7px;
    margin-bottom:-7px;
}

cite {
    color:$darkFont;
    font-size: 60%;
    font-style: italic;
}

/* Typography */
