$max-width: 1500px;
$small-device: 320px;
$medium-device: 600px;

$bgColor: #1c1414;
$fontColor: #fff;
$darkFont: #888;
$lightFont: #F4F4EC;

$primaryColor: #F4F4EC; //white
$primaryColorLight: pink;
$secondaryColor: #f4b603; //yellow
$secondaryColorLight: blue;

$successColor: #2ECC71;
$infoColor: #3498DB;
$warningColor: #F39C12;
$dangerColor: #F62459;

$buttonRadius: 2px;
$buttonSize: 30px;
$buttonLineWidth: 1px;
$buttonPadding: 0 20px;

$animationSpeed: 0.4s;

$lineWidth: 3px;

$codeBackground:#373636;
$codeText:#fff;
$codeBackgroundDarker:#4f4e4e;

$circleIconSize: 25px;
$circleBorderWidth: 2px;


