$max-width: 1500px;
$small-device: 320px;
$medium-device: 600px;

$bgColor: #000;
$darkFont: #999;
$lightFont: #F4F4EC;

$primaryColor: #F4F4EC; //white
$primaryColorLight: pink;
$secondaryColor: #f4b603; //yellow
$secondaryColorLight: blue;

$successColor: #00e19d;
$infoColor: #a25aff;
$warningColor: #ff855a;
$dangerColor: #ff001b;

$buttonRadius: 5px;
$buttonSize: 30px;
$buttonLineWidth: 1px;
$buttonPadding: 0 20px;

$animationSpeed: 1s;

$lineWidth: 3px;
